
.header {
    background-image: url(gala2.png);
    overflow: hidden;
    padding-top: 40px;
    padding-bottom: 30px;
    background-color: #fae8c8;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px #000000;
    font-size: 45px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.card3 {
  background-color: rgb(102 125 97);
 padding:20px;
 margin-bottom:10px;
 text-align:center;
}

.subtitlu {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 8px; 
	
}

.paragraf {
    font-size: 1em;
    line-height: 1.4; 
    margin-bottom: 15px; 
}

.T
{
	font-size:30px; 
	color:black; 
	text-shadow: 12px 9px 9px rgba(16,16,16,0.55);
	font-family: 'Lobster', cursive;
	text-align:center;
	
}

.resized-image {
  width: 900px; 
  height: auto; 
  border: 2px solid black;
  border-radius: 10px;
}
  
 .column2 {
    padding: 10px;
    
}
.container2 {
    display: flex;
    padding: 0 px; 
	margin-top:6px;
	
}

.larger-column2 {
    flex: 0 0 calc(60% - 5px);
    max-width: calc(60% - 5px); 
    margin-right: 10px; 
	
}

.smaller-column2 {
    flex: 0 0 calc(40% - 5px); 
    max-width: calc(40% - 5px); 
	margin-top:90px;
	
}

 .scrispoza {
	 color:white;
	 font-size:20px;
	 text-shadow: 2px 2px 4px #000000;
	 text-align: center;
	 
 }
 
 .resized-image2 {
  height: 500px; 
  width: auto;
  border: 2px solid black;
  border-radius: 10px;
}

div.scroll-container {
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

div.scroll-container img {
  padding: 10px;
}

.under {
  text-decoration: underline; 
   text-decoration-color: #a2006d;
}
